body {
  background: no-repeat fixed center;
  background-image: url('../img/E3828_01.jpg');
  background-size: cover;
  font-size: var(--font-size);
  font-family: var(--font-family);
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.main {
  background-color: var(--black);
  width: 30rem;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.logo {
  $size: 2rem;
  width: auto;
  height: $size;
  padding: $size;
}

.social-menu {
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline;
    }
  }
  i {
    color: var(--white);
    font-size: 1.5rem;
    padding: 0.5rem;
  }
}

a {
  color: var(--white);
  text-decoration: none;
  .fab,
  .far {
    border: solid 0.1rem var(--white);
    border-radius: 50%;
    padding: 0.6rem;
    transition: 0.3s linear;
  }
}

a:hover {
  .fab,
  .far {
    transition: 0.3s linear;
  }
  $social: instagram twitter github envelope;
  @each $element in $social {
    .fa-#{$element} {
      color: var(--#{$element});
      border-color: var(--#{$element});
    }
  }
}
