.wrapper {
  --vh: 1vh;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.main {
  background-color: var(--black);
  width: 30rem;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

// Logo
.logo {
  $size: 2rem;
  width: auto;
  height: $size;
  padding: $size;
}

// Social Media Menu
.social-menu {
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline;
    }
  }
}

a {
  text-decoration: none;
  color: var(--white);
  font-size: 1.5rem;
  padding: 0.5rem;
  &.fab,
  &.far {
    border: solid 0.1rem var(--white);
    border-radius: 50%;
    padding: 0.6rem;
    transition: all 0.4s linear;
  }
}

a:hover {
  &.fab,
  &.far {
    transition: all 0.4s linear;
  }
  @each $element in $social {
    &.fa-#{$element} {
      color: var(--#{$element});
      background-color: var(--white);
    }
  }
}

// Media Queries
@media only screen and (min-width: 480px) {
  body {
    background: no-repeat fixed center;
    background-image: url('../img/E3828_01.jpg');
    background-size: cover;
    font-size: var(--font-size);
    font-family: var(--font-family);
  }
}
