:root {
  --white: #fff;
  --black: #000;
  --font-family: 'Courier New', Courier, monospace;
  --font-size: 10px;
  --instagram: #e4405f;
  --twitter: #1da1f2;
  --github: #6e5494;
  --envelope: #d14836;
}
