:root {
  --white: #fff;
  --black: #000;
}

body {
  background: no-repeat fixed center;
  background-image: url('../img/E3828_01.jpg');
  background-size: cover;
  font-size: 10px;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.main {
  background-color: var(--black);
  width: 30rem;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.logo {
  width: auto;
  height: 2rem;
  padding: 2rem;
}

h1 {
  color: var(--white);
}
