:root {
  --vh: 1vh;
  --white: #fff;
  --black: #000;
  --yellow: #f8ff00;
  --accent: #0f8;
  --gradient: linear-gradient(90deg, #f8ff00 0%, #0f8 100%);
  --font-family: 'Roboto', sans-serif;
  --font-size: 10px;
  --main-width: 30rem;
}

$social: instagram twitter github codepen envelope;
